/* Breakpoints */
/* mobile: 375px;
tablet: 770px;
desktop: 995px */

.headerContainer {
  width: 100vw;
  margin-block-end: 20px;
}

.mainHeader {
  border-block-end: 5px solid #333;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px;
  margin-block-end: 30px;
}

.mainLogo {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 10px;
  margin-block-end: 20px;
}

.navLinks {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  width: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  transition: 0.2s;
}

.link:hover {
  font-weight: 700;
  text-decoration: none;
  color: #55a630;
}

.strapContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  border-block-end: 5px solid #333;
}

.strapline {
  padding: 5px 20px;
  line-height: 1.5;
  max-inline-size: 500px;
  margin-block-end: 20px;
}
