.sectionHeader {
  padding: 10px 20px;
  border-block-end: 5px solid #333;
  margin-block-end: 30px;
}

.secondaryHeader {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 10px;
}

.gardenList {
  width: 100vw;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto);
  grid-gap: 10px;
  margin-block-end: 20px;
}

@media (min-width: 501px) {
  .gardenList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .gardenList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 961px) {
  .gardenList {
    grid-template-columns: repeat(5, 1fr);
  }
}

.treeItem {
  width: 100%;
  margin-block-end: 20px;
}

.treeName {
  font-size: 1.6rem;
  margin-block-end: 5px;
}

.treeNameLatin {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 100;
  font-style: italic;
  letter-spacing: -0.5px;
}

.gardenImage {
  width: 100%;
  object-fit: cover;
  margin-block-end: 10px;
  aspect-ratio: 1 / 1.5;
}

.treeLeaves {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 100;
  font-style: italic;
  margin-block-end: 10px;
}

.updateZen {
  border: 2px solid #333;
  display: block;
  padding: 10px;
  text-align: center;
  margin-block-end: 10px;
  letter-spacing: 1px;
  transition: 0.2s;
}

.updateZen:hover {
  font-weight: 700;
  text-decoration: none;
  color: #55a630;
}

.deleteZen {
  text-transform: uppercase;
  width: 100%;
  border: 2px solid #333;
  display: block;
  padding: 10px;
  text-align: center;
  outline: 0;
  cursor: pointer;
  background-color: #fff;
  letter-spacing: 1px;
  transition: 0.2s;
}

.deleteZen:hover {
  font-weight: 700;
  text-decoration: none;
  color: #55a630;
}
